{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="content">
    <div class="info_about_test">
        <h1>Информация о нас</h1>
        <br>
        <h3>В чем идея проекта?</h3>
        <p>Разработка проекта проходила в рамках конкурса "Техно Интеллект". Целью проекта было улучшение качества жизни людей и предоставление им помощи. Основная идея проекта заключалась в выявлении рисков заболевания и предупреждении его развития. Технология позволяет сделать это как можно быстрее и эффективнее, за счёт искусственного инетелекта.</p>
        <br><br>
        <h3>Техногологии</h3>
        <p>Разработка проекта была выполнена в несколько этапов. Начиная с поиска подходящего датасета, затем эксперименты с обучением моделей и подбором наиболее эффективного метода. Далее, разработка веб-сайта, в котором front end был создан на HTML5, CSS3 и JavaScript, а back end - на языке Python3. На последнем этапе, ИИ был внедрен в систему сайта.</p>
    </div>
</div>
{% endblock %}
