{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/learning.css' %}">
{% endblock %}

{% block title %}Обучение{% endblock %}

{% block content %}
<div class="content">
    <div class="info_about_test">
        <h1>Обучение нейронной сети</h1>
        <p>Нейронная сеть (Neural Network) - это математическая модель, вдохновленная структурой и функционированием мозга человека. Она используется для решения широкого спектра задач, таких как классификация, регрессия, кластеризация и генерация.
            <br><br>
            Нейронная сеть состоит из нескольких слоев искусственных нейронов, каждый из которых отвечает за определенные вычисления. Данные подаются в нейронную сеть на входной слой, а затем проходят через другие слои, где выполняются вычисления и интеграция информации. Наконец, результаты представляются на выходном слое.
            <br><br>
            Нейронные сети обучаются с помощью алгоритмов машинного обучения, таких как обратное распространение ошибки (backpropagation), которые используют огромные объемы данных для изменения весовых коэффициентов в сети, таким образом, улучшая ее способность к классификации или предсказанию.
            <br><br>
        </p>
        <h3>На чём было написано и что использовалось?</h3>
        <p>                 
            Нейронная сеть была написана на языке программирования <b>Python3</b> и внешних фреймворках <b>Tensorflow</b> и <b>Keras</b>. При обучении было использовано более 10 тысяч примеров и 5 тысяч тестов. Результат был 94% точности, а ошибка была равна 0,001.
            <br><br>
            Также сама модель была построена на алгоритме обратного распространения и на функции "средняя квадратичная ошибка". Обучение проходило в 35 эпохах. 20% данных использовалось для валидации.
            <br><br>
        </p>
    </div>
</div>
{% endblock %}
