{% extends 'base.html' %}
{% load static %}


{% block css %}<link rel="stylesheet" href="{% static 'css/tests.css' %}">{% endblock %}
{% block title %}Тест{% endblock %}
{% block content %}
{% if proc %}
    <a href="#" id="mono_window" onclick="mono_click()">
        <div class="mono_block" id="mono_block">
            <div class="mono_window">
                <p></p>
                <div class="line">
                        <h1>
                            {{proc}}%
                        </h1>
                </div>
                <p></p>
            </div>
        </div>
    </a>
{% endif %}
<form method="post" class="content">
    {% csrf_token %}
    <div class="info_about_test">
        <h1>Тест на вероятность сердечно-сосудистого заболевания</h1>
        <p>Тест на вероятность сердечно-сосудистых заболеваний - это метод оценки, который используется для оценки риска развития сердечно-сосудистых заболеваний у конкретного индивида. Результаты теста могут предоставить информацию о риске развития сердечно-сосудистых заболеваний в ближайшее время, которую можно использовать для принятия решений о профилактике и лечении.</p>
        <li><b>Внимание!</b> Данный тест носит исключительно информационный характер. Для получения точных результатов обратитесь к специалисту.</li>
    </div>
    <div id="q">

    </div>
    <div class="send_form">
        <button type="submit">
            Закончить тест
        </button>
    </div>
</form>
{% endblock %}
{% block script %}
<script src="{% static 'js/render.js' %}"></script>
<script>
    function mono_click () {
        document.getElementById('mono_window').style.display = 'none';
    }
</script>
{% endblock %}