.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader{
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vw;

  background: #2D033B;
  transition: .2s;
}

.preloader div{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}